@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400&family=Silkscreen&display=swap');

:root {
    --casecolor: #313940;
    --visorcolor: #4b5f5e;
    --btncolor: #7A848C;
    --bgcolor: #D2D6D9;
    --fontExo2: 'Exo 2', sans-serif;
    --fontSilkscreen: 'Silkscreen', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontExo2);
}

body {
    background-color: var(--bgcolor);
}

main {
    max-width: 560px;
    background-color: var(--casecolor);

    margin: auto;
    margin-top: 100px;

    border: .17rem solid black;
    border-radius: 20px;
    padding: 50px 70px;

    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.747);
}

.calculator {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100%;
}

.visor {
    background-color: var(--visorcolor);
    border-radius: 15px;
    box-shadow: 0px 0px 3px 0px inset black;
    padding: 10px;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
    height: auto;
}

.visor span {  
    text-align: right;
    text-overflow: ellipsis clip;
    overflow: hidden;
    font-family: var(--fontExo2);
    font-weight: 600;
}

.historic {
    width: 100%;
    height: 1rem;
    font-size: 1rem;
}

.display {
    width: 100%;
    height: 60px;
    font-size: 2rem;
    
}

.buttons {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
}

.rows {
    width: 100%;
    flex: 1;

    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.rows:nth-last-child(1) .zero {
    flex: 2.3;
}

.rows button {
    height: 70px;
    background-color: var(--btncolor);
    border: transparent;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px black;

    flex: 1 1 0;

    color: white;
    font-size: 1.8rem;
}